{
	"singleQuote": true,
	"trailingComma": "all",
	"tabWidth": 2,
	"useTabs": false,
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"quoteProps": "as-needed",
	"printWidth": 130,
	"endOfLine": "auto"
}
